div(class="panel-footer")
  div(class="row")
    div(class="col col-xs-4") Página 1 de 2
    div(class="col col-xs-8")
      ul(class="pagination hidden-xs pull-right")
        li
          a(href="#") 1
        li
          a(href="#") 2
      ul(class="pagination visible-xs pull-right")
        li
          a(href="#") «
        li
          a(href="#") »