html
  head
    title= title
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/bootstrap-theme.min.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(type='text/javascript' src='/js/bootstrap.min.js')
    script(type='text/javascript' src='/js/bootbox.min.js')
  body