form(action="/users?_method=PUT", method="post")
  div
    input(type="text", name="id", value="#{user.id}")
  div
    input(type="text", name="name", value="#{user.name}")
  div
    input(type="text", name="username", value="#{user.username}")
  div
    input(type="text", name="password")
  div
    button(type="submit") Enviar
